body {
  background-image: url(/images/galaxy.jpg);
  background-size: cover;
  background-position: center;
  height:100vh
}

.jumbotron {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  height: 300px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.3em;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.2em;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color:#5a6778;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.navbar {
  margin-bottom:0;
}

.nav-button{
  background: #363e49;
  border: none;
  color: lightgrey;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
}

.nav-button:hover {
  background: #4f5c6d;
  color: lightgrey;
  border: none;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
}

.top-btn {
  background: #bd895b;
  color: #FFF;
  border: none;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
}

.top-btn:hover {
  background: #ce7525;
  color: #FFF;
  border: none;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
}

#cover-title {
  margin-top: 10px;
}
