body {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}
.jumbotron {
  background: rgba(0, 0, 0, 0.5);;
  color: white;
  height: 250px;

}

.navbar {
  margin-bottom:0;
}

.nav-button{
  background: #425c6b;
  border: none;
  color: #FFF;
}

.nav-button:hover {
  background: #8bb0c5;
  color: #FFF;
  border: none;
}

#cover-title {
  margin-top: 50px;
}
